@import '~antd/dist/antd.css';

.ant-statistic-title {
    color: rgba(0, 0, 0, 0.85)
}

.ant-statistic-content-value-decimal {
    font-size: 18px;
}

.ant-statistic-content-suffix {
    font-size: 18px;
}

.ant-table-small .ant-table-thead > tr > th {
    background-color: #E1F5FE;
    text-align: center;
}
.ant-select-item{
  font-size: 20px;
  line-height: 160%;
}

.table-col-title {
    background-color: #E1F5FE;
}

.table-col-light {
    background-color: #FAFAFA
}

.table-col-dark {
    background-color: rgba(0, 0, 0, 0.06)
}

.logo {
  height: 60px;
  margin: 5;
  
  
}
.time {
  padding-top: 5px;
  text-align: center;
  width: 95px;
  color: #ffffff;
  
  line-height: 160%;
  font-size: medium;
}
.mode {
  color: #ffffff;
  display: inline-flex;
  font-size: x-large;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  flex-grow:2;
}
.lang {
  font-size: large !important;
  width: 65px;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.ant-menu-inline .ant-menu-item{
  height: 60px !important;
}

.ant-select-arrow{
  color: #ffffff !important;
}

.ant-input {
  font-size: 24px !important;
}
.sc-bxivhb {
  font-size: 24px !important;
  text-align: end !important;
  padding-right: 10px !important;
} 
.MuiButton-label{
  font-size: 24px !important;
}

.site-drawer-render-in-current-wrapper {
  position: relative;
  overflow: hidden;
  margin-top: 64px;
}
.site-layout-content {
  min-height: 480px;
  background: #ffffffe0;
}

.App-logo {
 /*animation: App-logo-spin infinite 20s linear;*/
  height: 55px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}